.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: var(--light-gray);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
  border-radius: 4px;
  padding: 0.5rem 0;
}

.dropdown-item {
  color: var(--text-primary);
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-size: 0.9rem;
}

.dropdown-item:hover {
  background-color: var(--dark-clay);
}
